<div class="columns is-multiline">
  {{#each (sort-by "order" model) as |trip|}}
    <div class="column is-3 is-grow">
      {{#draggable-object-target class="panel" action=(action "changeTrip" trip)}}
        <h2 class="panel-heading">{{trip.title}}</h2>

        {{#each trip.items as |item|}}
          {{#draggable-object content=item class="panel-block"}}
            <span class="level is-mobile">
              <span class="level-left">{{item.name}}</span>
              <span class="level-right is-light">{{item.room.name}}</span>
            </span>
          {{/draggable-object}}
        {{/each}}

        {{#link-to "trips.new-item" trip.id class="panel-block"}}
          Add Item To List
         {{/link-to}}
      {{/draggable-object-target}}
    </div>

  {{/each}}

  <div class="column is-3 is-grow">
    <div class="panel is-fullwidth">
      {{#link-to "trips.new"}}
      <h2 class="panel-heading"><span class="button is-medium is-fullwidth is-primary">Add New Trip</span></h2>
      {{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
