<div class="columns is-multiline">
  {{#each (sort-by "order" model) as |trip|}}
    <div class="column is-3 is-grow">
      <div class="panel">
        <h2 class="panel-heading">{{trip.title}}</h2>
        {{#link-to "trips.new-item" trip class="panel-block"}}
          Add Item To List
         {{/link-to}}
      </div>
    </div>

  {{/each}}

  <div class="column is-3 is-grow">
    <div class="card is-fullwidth">
      {{#link-to "trips.new"}}
      <div class="card-header">
        <h2 class="card-header-title title has-text-centered is-block">Add New Trip +</h2>
      </div>
      {{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
