<div class="card">
  {{#link-to "trips.new"}}
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://placehold.it/300x225?text=%2B" alt="">
      </figure>
    </div>
    <div class="card-content">
      <h2 class="title">Add New Trip</h2>
    </div>
  {{/link-to}}
</div>
