<div class="columns is-multiline">
  {{#each (sort-by "order" model) as |trip|}}
    <div class="column is-3 is-grow">
      <div class="card is-fullwidth">
        {{#link-to "trips.index"}}
          <div class="card-header">
            <h2 class="card-header-title title">{{trip.title}}</h2>
          </div>
          <div class="card-content"></div>
        {{/link-to}}
      </div>
    </div>

  {{/each}}

  <div class="column is-3 is-grow">
    <div class="card is-fullwidth">
      {{#link-to "trips.new"}}
      <div class="card-header">
        <h2 class="card-header-title title has-text-centered is-block">Add New Trip +</h2>
      </div>
      {{/link-to}}
    </div>
  </div>
</div>
